@page "/S2E/Qtech/TRIALTest/{TRIALID}/{TRIALLINEID}/Cancel"
@model Web.UI.Pages.S2E.Qtech.TRIALTest.CancelModel
@using Infrastructure.Models
@using Interfaces
@inject IAuthService authService
@{
    ViewData["Title"] = "Cancel Raw Material Evaluation Test (Trial Test)";

    ViewData["Breadcrumb"] = new List<BreadcrumbModel> {
        new BreadcrumbModel { Text = "S2E", Link = "javascript:void();" },
        new BreadcrumbModel { Text = "Qtech", Link = "/S2E/Qtech" },
        new BreadcrumbModel { Text = "Trial Test Main", Link = "/S2E/Qtech/TRIALTest/Main" },
        new BreadcrumbModel { Text = "Cancel Raw Material Evaluation Test (Trial Test)" }
    };
}
<style>
    td {
        padding: 5px;
    }

    tr {
        text-align: right;
        vertical-align: top;
    }

    .radio2 {
        width: 20px;
        height: 20px;
        padding: 15px;
    }

    .table2 {
        border: 1px solid black;
        text-align: center;
    }

        .table2 tr {
            text-align: center;
            border: 1px solid black;
            vertical-align: middle;
        }

        .table2 td {
            border: 1px solid black;
        }

    .container2 {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }

    .radio2 {
        width: 26px;
        height: 20px;
        padding: 15px;
    }

    .checkbox2 {
        width: 26px;
        height: 20px;
        padding: 15px;
    }

    .overlay {
        background: #f9f6f3;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
    }

    .imgloading {
        position: absolute;
        left: 50%;
        top: 80%;
        width: 5%;
    }
</style>

<div class="d-flex justify-content-between align-items-center my-3">
    <h3>Cancel Raw Material Evaluation Test (Trial Test)</h3>
</div>
<div>
    <form method="post" enctype="multipart/form-data" id="form_submit">
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="form-group">
                    <b>เหตุผล : </b>
                    <textarea rows="2" style="white-space:normal;display:block;"
                              asp-for="CancelRemark" id="CancelRemark" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-danger" id="btn_submit" onclick="return confirm('ต้องการยกเลิกใช่หรือไม่?')">
                        <i class="fa fa-ban"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        <br />
        <div class="container2">
            <table width="90%">
                <tr style="vertical-align:bottom;">
                    <td width="15%"> <b>Request Code : </b></td>
                    <td width="35%">
                        <div class="input-group">
                            <input type="text" asp-for="RequestCode" class="form-control" autocomplete="off" readonly />
                        </div>
                    </td>
                    <td width="15%">Project Ref No. : </td>
                    <td width="35%">
                        <div class="input-group">
                            <input type="text" asp-for="ProjectRefNo" class="form-control" autocomplete="off" readonly />
                        </div>
                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td width="15%"> <b>จำนวนที่เหลือ (Stock) :  </b></td>
                    <td width="35%" style="text-align:left;">
                        @String.Format("{0:#,##0.#0}", Model.QtyTotal)  @Model.Unit
                    </td>
                    <td width="15%"></td>
                    <td width="35%"></td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <table width="30%" align="center">
                <tr>
                    <td width="30%">
                        <label for="RM">
                            <input type="radio" asp-for="ItemGroup" id="RM" name="ItemGroup" value="RM" class="radio2" disabled />
                            <b>Raw Material</b>
                        </label>
                    </td>
                    <td>
                        <label for="FS">
                            <input type="radio" asp-for="ItemGroup" id="FS" name="ItemGroup" value="FS" class="radio2" disabled />
                            <b>Factory Supply</b>
                        </label>
                    </td>
                </tr>
            </table>

        </div>
        <br />
        <div class="container2">
            <table width="90%">
                <tr style="vertical-align:bottom;">
                    <td width="15%"><b>ผู้ขอทดสอบ : </b> </td>
                    <td width="30%">
                        <select asp-for="DepartmentID" asp-items="Model.DepartmentMaster" class="form-control" disabled>
                            <option value="">--- SELECT ---</option>
                        </select>
                    </td>
                    <td width="40%">
                        <input type="text" asp-for="DepartmentRemark" maxlength="50" class="form-control" autocomplete="off" readonly />

                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td width="15%"><b>เหตุผลของการทดสอบ : </b></td>
                    <td width="30%">
                        <select asp-for="ResonTestID" asp-items="Model.ResonTestMaster" class="form-control" disabled>
                            <option value="">--- SELECT ---</option>
                        </select>

                    </td>
                    <td width="40%">
                        <input type="text" asp-for="ResonTestRemark" maxlength="50" class="form-control" autocomplete="off" readonly />
                    </td>
                </tr>
                <tr style="vertical-align:bottom;">
                    <td width="15%"><b>ชนิดของวัตถุดิบ/Type of raw material : </b></td>
                    <td width="30%" colspan="2">
                        <select asp-for="TypeOfRMID" asp-items="Model.TypeOfRMMaster" class="form-control" disabled>
                            <option value="">--- SELECT ---</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <table width="90%">
                <tr style="text-align:center;">
                    @if (@Model.isCompaire == 1)
                    {
                        <td colspan="2"> <b>ข้อมูลวัตถุดิบที่นำมาทดสอบ</b> </td>
                        <td colspan="2"> <b>ข้อมูลวัตถุดิบที่นำมาเปรียบเทียบ</b> </td>
                    }
                    else
                    {
                        <td colspan="2"> <b> ข้อมูลวัตถุดิบที่นำมาทดสอบ </b> </td>
                    }
                </tr>
                <tr>
                    <td width="10%"> a) Chemical name : </td>
                    <td width="40%">
                        <input type="text" asp-for="ChemicalName" maxlength="200" class="form-control" autocomplete="off" readonly />
                    </td>
                    @if (@Model.isCompaire == 1)
                    {
                        <td width="10%"> a) Chemical name :  </td>
                        <td width="40%">
                            <input type="text" asp-for="ChemicalNameRef" maxlength="200" class="form-control" autocomplete="off" readonly />
                        </td>
                    }
                </tr>
                <tr>
                    <td width="10%">
                        b) Trade name :
                    </td>
                    <td width="40%">
                        <table width="100%">
                            <tr>
                                <td width="35%">
                                    <input type="text" asp-for="ItemCode" maxlength="200" class="form-control" autocomplete="off" readonly />
                                </td>
                                <td width="65%">
                                    <textarea asp-for="TradeName" rows="3" style="white-space:normal;display:block;" maxlength="200" class="form-control" autocomplete="off" readonly></textarea>
                                </td>
                            </tr>
                        </table>
                    </td>
                    @if (@Model.isCompaire == 1)
                    {
                        <td width="10%">
                            b) Trade name :
                        </td>
                        <td width="40%">
                            <table width="100%">
                                <tr>
                                    <td width="35%" colspan="2">
                                        <input type="text" asp-for="ItemCodeRef" maxlength="200" class="form-control" autocomplete="off" readonly />
                                    </td>
                                    <td width="65%">
                                        <textarea asp-for="TradeNameRef" rows="3" style="white-space:normal;display:block;" maxlength="200" class="form-control" autocomplete="off" readonly></textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    }
                </tr>
                <tr>
                    <td width="10%"> c) Country of origin :</td>
                    <td width="40%">
                        <input type="text" asp-for="Country" maxlength="200" class="form-control" autocomplete="off" readonly />
                    </td>
                    @if (@Model.isCompaire == 1)
                    {
                        <td width="10%"> c) Country of origin : </td>
                        <td width="40%">
                            <input type="text" asp-for="CountryRef" maxlength="200" class="form-control" autocomplete="off" readonly />
                        </td>
                    }
                </tr>
                <tr>
                    <td width="10%"> d) Manufacturer : </td>
                    <td width="40%">
                        <input type="text" asp-for="Manufacture" maxlength="200" class="form-control" autocomplete="off" readonly />
                    </td>
                    @if (@Model.isCompaire == 1)
                    {
                        <td width="10%"> d) Manufacturer : </td>
                        <td width="40%">
                            <input type="text" asp-for="ManufactureRef" maxlength="200" class="form-control" autocomplete="off" readonly />
                        </td>
                    }
                </tr>
                <tr>
                    <td width="10%"> e) Agent/Trader :</td>
                    <td width="40%">
                        <input type="text" asp-for="Agent" maxlength="200" class="form-control" autocomplete="off" readonly />
                    </td>
                    @if (@Model.isCompaire == 1)
                    {
                        <td width="10%"> e) Agent/Trader : </td>
                        <td width="40%">
                            <input type="text" asp-for="AgentRef" maxlength="200" class="form-control" autocomplete="off" readonly />
                        </td>
                    }
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <table width="90%" align="center">
                <tr>
                    <td width="30%">
                        <table class="table2" width="90%" style="text-align:center;">
                            <tr>
                                <td width="25%"> <b> DSL/DRB </b></td>
                                <td width="25%"> <b> DSI </b></td>
                                <td width="25%"> <b> SVO </b></td>
                                <td width="25%"> <b> STR </b></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" asp-for="PlantCodeD1D2" maxlength="50" class="form-control" autocomplete="off" readonly />
                                </td>
                                <td>
                                    <input type="text" asp-for="PlantCodeD3" maxlength="50" class="form-control" autocomplete="off" readonly />
                                </td>
                                <td>
                                    <input type="text" asp-for="PlantCodeD4" maxlength="50" class="form-control" autocomplete="off" readonly />
                                </td>
                                <td>
                                    <input type="text" asp-for="PlantCodeD5" maxlength="50" class="form-control" autocomplete="off" readonly />
                                </td>
                            </tr>
                        </table>
                    </td>
                    @if (@Model.isCompaire == 1)
                    {
                        <td width="30%">
                            <table class="table2" width="90%" style="text-align:center;">
                                <tr>
                                    <td width="25%"> <b> DSL/DRB </b></td>
                                    <td width="25%"> <b> DSI </b></td>
                                    <td width="25%"> <b> SVO </b></td>
                                    <td width="25%"> <b> STR </b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" asp-for="PlantCodeD1D2Ref" maxlength="50" class="form-control" autocomplete="off" readonly />
                                    </td>
                                    <td>
                                        <input type="text" asp-for="PlantCodeD3Ref" maxlength="50" class="form-control" autocomplete="off" readonly />
                                    </td>
                                    <td>
                                        <input type="text" asp-for="PlantCodeD4Ref" maxlength="50" class="form-control" autocomplete="off" readonly />
                                    </td>
                                    <td>
                                        <input type="text" asp-for="PlantCodeD5Ref" maxlength="50" class="form-control" autocomplete="off" readonly />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    }
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <b>Material group in AX</b>
            <table width="70%" align="center">
                <tr style="text-align:left;">
                    <td width="33%">
                        <label for="DocRef1">
                            <input type="checkbox" id="DocRef1" asp-for="DocRef1" name="DocRef1" class="checkbox2" disabled />
                            Natural rubber
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef2">
                            <input type="checkbox" id="DocRef2" asp-for="DocRef2" name="DocRef2" class="checkbox2" disabled />
                            Synthetic rubber
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef3">
                            <input type="checkbox" id="DocRef3" asp-for="DocRef3" name="DocRef3" class="checkbox2" disabled />
                            Carbon black
                        </label>
                    </td>
                </tr>
                <tr style="text-align:left;">
                    <td width="33%">
                        <label for="DocRef4">
                            <input type="checkbox" id="DocRef4" asp-for="DocRef4" name="DocRef4" class="checkbox2" disabled />
                            Nylon & polyester
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef5">
                            <input type="checkbox" id="DocRef5" asp-for="DocRef5" name="DocRef5" class="checkbox2" disabled />
                            Bead wire & steel cord
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef6">
                            <input type="checkbox" id="DocRef6" asp-for="DocRef6" name="DocRef6" class="checkbox2" disabled />
                            White filler
                        </label>
                    </td>
                </tr>
                <tr style="text-align:left;">
                    <td width="33%">
                        <label for="DocRef7">
                            <input type="checkbox" id="DocRef7" asp-for="DocRef7" name="DocRef7" class="checkbox2" disabled />
                            Antidegradant
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef8">
                            <input type="checkbox" id="DocRef8" asp-for="DocRef8" name="DocRef8" class="checkbox2" disabled />
                            Process oil
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef9">
                            <input type="checkbox" id="DocRef9" asp-for="DocRef9" name="DocRef9" class="checkbox2" disabled />
                            Plasticizer & processsing aid
                        </label>
                    </td>
                </tr>
                <tr style="text-align:left;">
                    <td width="33%">
                        <label for="DocRef10">
                            <input type="checkbox" id="DocRef10" asp-for="DocRef10" name="DocRef10" class="checkbox2" disabled />
                            Accelerator
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef11">
                            <input type="checkbox" id="DocRef11" asp-for="DocRef11" name="DocRef11" class="checkbox2" disabled />
                            Activator
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef12">
                            <input type="checkbox" id="DocRef12" asp-for="DocRef12" name="DocRef12" class="checkbox2" disabled />
                            Reclaim
                        </label>
                    </td>
                </tr>
                <tr style="text-align:left;">
                    <td width="33%">
                        <label for="DocRef13">
                            <input type="checkbox" id="DocRef13" asp-for="DocRef13" name="DocRef13" class="checkbox2" disabled />
                            Tackifier
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef14">
                            <input type="checkbox" id="DocRef14" asp-for="DocRef14" name="DocRef14" class="checkbox2" disabled />
                            Vulcanising agent
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef15">
                            <input type="checkbox" id="DocRef15" asp-for="DocRef15" name="DocRef15" class="checkbox2" disabled />
                            Peptizer
                        </label>
                    </td>
                </tr>
                <tr style="text-align:left;">
                    <td width="33%">
                        <label for="DocRef16">
                            <input type="checkbox" id="DocRef16" asp-for="DocRef16" name="DocRef16" class="checkbox2" disabled />
                            Valve
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef17">
                            <input type="checkbox" id="DocRef17" asp-for="DocRef17" name="DocRef17" class="checkbox2" disabled />
                            Color pigment
                        </label>
                    </td>
                    <td width="33%">
                        <label for="DocRef18">
                            <input type="checkbox" id="DocRef18" asp-for="DocRef18" name="DocRef18" class="checkbox2" disabled />
                            Factory Supply
                        </label>
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div class="container2">
            <b>สรุปผลการทดสอบ  </b>
            <div class="input-group">
                <table width="30%">
                    <tr>
                        <td width="50%">
                            <label for="Pass">
                                <input type="radio" asp-for="TestResult" id="Pass" name="TestResult" value="1" class="radio2" disabled />
                                ผ่าน/Pass
                            </label>
                        </td>
                        <td width="50%">
                            <label for="Failed">
                                <input type="radio" asp-for="TestResult" id="Failed" name="TestResult" value="2" class="radio2" disabled />
                                ไม่ผ่าน/Failed
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <b>การอนุมัติใช้ </b>
            <div class="input-group">
                <table width="50%">
                    <tr>
                        <td width="15%"></td>
                        <td style="text-align:left;">
                            <label for="ApprovalForID1">
                                <input type="radio" asp-for="ApprovalForID" id="ApprovalForID1" name="ApprovalForID" value="1" class="radio2" disabled />
                                อนุมัติการใช้/ซื้อ เพื่อการทดสอบเพิ่มเติม (Temporary approval)
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td width="15%"></td>
                        <td style="text-align:left;">
                            <label for="ApprovalForID2">
                                <input type="radio" asp-for="ApprovalForID" id="ApprovalForID2" name="ApprovalForID" value="2" class="radio2" disabled />
                                อนุมัติการใช้/ซื้อ เพื่อการผลิตปกติ (Permanent approval)
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
            <b>อนุมัติการใช้/ซื้อ เพื่อการผลิตปกติ (Permanent approval) </b>
            <div class="input-group">
                <table style="width:50%">
                    <tr>
                        <td>
                            <label for="Plant1">
                                <input type="checkbox" id="Plant1" asp-for="Plant1" name="Plant1" class="checkbox2" disabled />
                                DSL
                            </label>
                        </td>
                        <td>
                            <label for="Plant2">
                                <input type="checkbox" id="Plant2" asp-for="Plant2" name="Plant2" class="checkbox2" disabled />
                                DRB
                            </label>
                        </td>
                        <td>
                            <label for="Plant3">
                                <input type="checkbox" id="Plant3" asp-for="Plant3" name="Plant3" class="checkbox2" disabled />
                                DSI
                            </label>
                        </td>
                        <td>
                            <label for="Plant4">
                                <input type="checkbox" id="Plant4" asp-for="Plant4" name="Plant4" class="checkbox2" disabled />
                                DSR
                            </label>
                        </td>
                        <td>
                            <label for="Plant5">
                                <input type="checkbox" id="Plant5" asp-for="Plant5" name="Plant5" class="checkbox2" disabled />
                                STR
                            </label>
                        </td>
                    </tr>
                </table>
                <input type="hidden" asp-for="Plant" id="Plant" class="form-control" autocomplete="off" />
            </div>
        </div>
        <br />
        <div class="container2">
            <b>ผลการทดสอบในห้องปฏิบัติการ/Laboratoty evaluation</b>
            <br />
            <table id="LabEvaluationTB" width="50%" class="table table-hover"></table>
        </div>
        <br />
        <div class="container2">
            <b>ผลการทดสอบในการผลิต/Process evaluation</b>
            <br />
            <table id="ProcessEvaluationTB" width="50%" class="table table-hover"></table>
        </div>
        <br />
        <div class="container2">
            <b>ผลการทดสอบผลิตภัณฑ์/Product evaluation</b>
            <br />
            <table id="ProductEvaluationTB_OLD" width="50%" class="table table-hover"></table>
        </div>
        <br />
        <div class="container2">
            <table id="gridViewFileUpload" width="50%" class="table table-hover"></table>
        </div>
    </form>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var LabEvaluationTB = "#LabEvaluationTB";
            $(LabEvaluationTB).DataTable({
                serverSide: false,
                processing: false,
                destroy: false,
                responsive: true,
                dom: 'lrtip',
                bInfo: false,
                bLengthChange: false,
                paging:false,
                ajax: {
                    url: "/S2E/Qtech/TRIALTest/@Model.TrialID/@Model.TrialLineID/Cancel?handler=LabEvaluationGrid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "No.", data: "logid" },
                    { title: "รายการ", data: "trialresultdesc" },
                    { title: "ผ่าน", data: null },
                    { title: "ไม่ผ่าน", data: null },
                    { title: "ไม่ได้ทดสอบ", data: null }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        //width: "10%",
                        "className": "text-left",
                        orderable: false,
                        visible: false
                    },
                    {
                        targets: 1,
                        width: "70%",
                        "className": "text-left",
                        orderable: false,
                        render: function (data, type, row) {
                            if (row.isremarka == 1 && row.isremarkb == 1) {
                                var show = "";
                                show += data;
                                show += " <input type='text' name='TRIALTestResultRemark1' id='textRemark1' autocomplete='off'  style='width:10%;' value='" + row.remarka + "' readonly /> °C";
                                show += "   or  ";
                                show += " <input type='text' name='TRIALTestResultRemark2' id='textRemark2' autocomplete='off' style='width:10%;' value='" + row.remarkb + "' readonly /> °C";
                                return show;
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        targets: 2,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            if (row.ispass == 1) {
                                var link = "";
                                link += "<input type='radio' id='LabPass" + row.id + "' onclick='return false;' class='radio2' checked/>";
                                return link;
                            }
                            else {
                                var link = "";
                                link += "<input type='radio' id='LabPass" + row.id + "' onclick='return false;' class='radio2'/>";
                                return link;
                            }
                        }
                    },
                    {
                        targets: 3,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            if (row.ispass == 0) {
                                var link = "";
                                link += "<input type='radio' id='LabFailed" + row.id + "' onclick='return false;' class='radio2' checked/>";
                                return link;
                            }
                            else {
                                var link = "";
                                link += "<input type='radio' id='LabFailed" + row.id + "' onclick='return false;' class='radio2'/>";
                                return link;
                            }
                        }
                    },
                    {
                        targets: 4,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            if (row.ispass == 2) {

                                var link = "";
                                link += "<input type='radio' id='LabNotTest" + row.id + "'onclick='return false;' class='radio2' checked/>";
                                link += "<input type='hidden' name='LabIsPass' id='txtLabIsPass" + row.id + "' value='" + row.ispass + "' />";
                                link += "<input type='hidden' name='TrialResultID' id='txtLabResultID" + row.id + "' value='" + row.id + "' />";
                                link += "<input type='hidden' name='LabResultLogsID' id='txtLabResultLogsID" + row.id + "' value='" + row.logid + "' />";
                                return link;
                            }
                            else {
                                var link = "";
                                link += "<input type='radio' id='LabNotTest" + row.id + "' onclick='return false;' class='radio2'/>";
                                link += "<input type='hidden' name='LabIsPass' id='txtLabIsPass" + row.id + "' value='" + row.ispass + "' />";
                                link += "<input type='hidden' name='TrialResultID' id='txtLabResultID" + row.id + "' value='" + row.id + "' />";
                                link += "<input type='hidden' name='LabResultLogsID' id='txtLabResultLogsID" + row.id + "' value='" + row.logid + "' />";
                                return link;
                            }
                        }
                    }
                ],
            });
        });

        $(document).ready(function () {
            var ProcessEvaluationTB = "#ProcessEvaluationTB";
            $(ProcessEvaluationTB).DataTable({
                serverSide: false,
                processing: false,
                destroy: false,
                responsive: true,
                dom: 'lrtip',
                bInfo: false,
                bLengthChange: false,
                orderable: false,
                paging: false,
                ajax: {
                    url: "/S2E/Qtech/TRIALTest/@Model.TrialID/@Model.TrialLineID/Cancel?handler=ProcessEvaluationGrid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "No.", data: "id" },
                    { title: "รายการ", data: "processdesc" },
                    { title: "ผ่าน", data: null },
                    { title: "ไม่ผ่าน", data: null },
                    { title: "ไม่ได้ทดสอบ", data: null }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        //width: "10%",
                        "className": "text-left",
                        orderable: false,
                        visible:false
                    },
                    {
                        targets: 1,
                        width: "70%",
                        "className": "text-left",
                        orderable: false
                    },
                    {
                        targets: 2,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            if (row.ispass == 1) {
                                var link = "";
                                link += "<input type='radio' id='ProcPass" + row.id + "' onclick='return false;' class='radio2' checked/>";
                                return link;
                            }
                            else {
                                var link = "";
                                link += "<input type='radio' id='ProcPass" + row.id + "' onclick='return false;' class='radio2' />";
                                return link;
                            }

                        }
                    },
                    {
                        targets: 3,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            if (row.ispass == 0) {
                                var link = "";
                                link += "<input type='radio' id='ProcFailed" + row.id + "' onclick='return false;' class='radio2' checked/>";
                                return link;
                            }
                            else {
                                var link = "";
                                link += "<input type='radio' id='ProcFailed" + row.id + "' onclick='return false;' class='radio2' />";
                                return link;
                            }
                        }
                    },
                    {
                        targets: 4,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            if (row.ispass == 2) {
                                var link = "";
                                link += "<input type='radio' id='ProcNotTest" + row.id + "' onclick='return false;' class='radio2' checked/>";
                                link += "<input type='hidden' name='ProcIsPass' id='txtLabProcIsPass" + row.id + "' value='" + row.ispass + "' />";
                                link += "<input type='hidden' name='ProcResultID' id='txtProcResultID" + row.id + "' value='" + row.id + "' />";
                                link += "<input type='hidden' name='ProcResultLogsID' id='txtProcResultLogsID" + row.id + "' value='" + row.logid + "' />";
                                return link;
                            }
                            else {
                                var link = "";
                                link += "<input type='radio' id='ProcNotTest" + row.id + "' onclick='return false;' class='radio2'/>";
                                link += "<input type='hidden' name='ProcIsPass' id='txtLabProcIsPass" + row.id + "' value='" + row.ispass + "' />";
                                link += "<input type='hidden' name='ProcResultID' id='txtProcResultID" + row.id + "' value='" + row.id + "' />";
                                link += "<input type='hidden' name='ProcResultLogsID' id='txtProcResultLogsID" + row.id + "' value='" + row.logid + "' />";
                                return link;
                            }
                        }
                    }
                ],
            });

        });

        $(document).ready(function () {
            var ProductEvaluationTB_OLD = "#ProductEvaluationTB_OLD";
            $(ProductEvaluationTB_OLD).DataTable({
                serverSide: false,
                processing: false,
                destroy: false,
                responsive: true,
                dom: 'lrtip',
                bInfo: false,
                bLengthChange: false,
                orderable: false,
                paging: false,
                ajax: {
                    url: "/S2E/Qtech/TRIALTest/@Model.TrialID/@Model.TrialLineID/Cancel?handler=ProductEvaluationGrid",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "No.", data: "id" },
                    { title: "รายการ", data: "producttestdesc" },
                    { title: "ผ่าน", data: null },
                    { title: "ไม่ผ่าน", data: null }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        "className": "text-left",
                        orderable: false,
                        visible:false
                    },
                    {
                        targets: 1,
                        width: "70%",
                        "className": "text-left",
                        orderable: false
                    },
                    {
                        targets: 2,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            var link = "";
                            if (row.ispass == 1) {
                                link += "<input type='radio' id='ProdPassOLD" + row.row + "'  onclick='return false;' class='radio2' checked/>";
                            }
                            else {
                                link += "<input type='radio' id='ProdPassOLD" + row.row + "'  onclick='return false;' class='radio2'/>";
                            }
                            return link;
                        }
                    },
                    {
                        targets: 3,
                        width: "10%",
                        orderable: false,
                        "className": "text-center",
                        render: function (data, type, row) {
                            var link = "";
                            if (row.ispass == 0) {
                                link += "<input type='radio' id='ProdFailedOLD" + row.row + "'  onclick='return false;' class='radio2' checked/>";
                            }
                            else {
                                link += "<input type='radio' id='ProdFailedOLD" + row.row + "'  onclick='return false;' class='radio2'/>";
                            }
                            return link;
                        }
                    }
                ],
            });
        });

        $(document).ready(function () {
            var gridViewFileUpload = "#gridViewFileUpload";
            $(gridViewFileUpload).DataTable({
                serverSide: false,
                processing: false,
                destroy: false,
                responsive: true,
                dom: 'lrtip',
                bInfo: false,
                bLengthChange: false,
                ajax: {
                    url: "/S2E/Qtech/TRIALTest/@Model.TrialID/@Model.TrialLineID/Cancel?handler=GridViewFileUpload",
                    type: "post",
                    headers: {
                        "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                },
                columns: [
                    { title: "FILE NAME", data: "filename" },
                    { title: "UPLOADDATE", data: "createdate" },
                    { title: "Download", data: null }
                ],
                columnDefs: [
                    {
                        targets: 2,
                        render: function (data, type, row) {
                            return actionLink("/S2E/Qtech/TRIALTest/@Model.TrialID/@Model.TrialLineID/Cancel?handler=DownloadFileUpload&TrialID=@Model.TrialID&Fileid=" + row.id, "fa fa-download", "<span> Download </span>");
                         }
                    }

                ]
            });
        });

        $("#form_submit").submit(function (e) {
            if ($("#CancelRemark").val() == "") {

                alert("กรุณาใส่เหตุผลที่ต้องการยกเลิก");
                return false;
            }
            $(".overlay").show();
            $('#btn_submit').html("Submit...");
        });
    </script>
}
